
<div class="app-new flex-row align-items-center">
  <div class="container">
        <div class="row">
          <div class="col-md-7">
            <p></p>
            <table class="table table-bordered table-hover table-dark table-responsive-flex">
              <tbody>
              <tr>
                <td class="span3">App ID</td>
                <td>570</td>
              </tr>
              <tr>
                <td>App Type</td>
                <td itemprop="applicationCategory">Game</td>
              </tr>
              <tr>
                <td>Name</td>
                <td itemprop="name">Dota 2</td>
              </tr>
              <tr>
                <td>Developer</td>
                <td><span itemprop="author">Valve</span></td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td><span itemprop="publisher">Valve</span></td>
              </tr>
              <tr>
                <td>Supported Systems</td>
                <td></td>
              </tr>
              <tr>
                <td>Last Record Update</td>
                <td><span class="timeago" title="2019-11-20T01:59:08+00:00" itemprop="dateModified" content="2019-11-20T01:59:08+00:00">4 days ago</span> <i class="muted">(November 20, 2019 – 01:59:08 UTC)</i></td>
              </tr>
              <tr>
                <td>Last Change Number <a href="/faq/#changenumber" class="pull-right muted" aria-label="What is a changenumber?"></a></td>
                <td><a href="/changelist/7232760/" rel="nofollow">7232760</a></td>
              </tr>
              <tr>
                <td>Release Date</td>
                <td>July 9, 2013 – 17:00:00 UTC <i class="muted">(<span class="timeago" title="2013-07-09T17:00:00+00:00" itemprop="datePublished" content="2013-07-09">6 years ago</span>)</i></td>
              </tr>
              </tbody>
            </table>
            <nav class="app-links" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="availability" content="http://schema.org/OnlineOnly">
              <meta itemprop="price" content="0">
              <meta itemprop="priceCurrency" content="USD">
            <a href="#" itemprop="url"><img src="#" width="16" height="16"> Store</a>
            <a href="#">Hub</a>
            <a href="#" class="tooltipped tooltipped-n" aria-label="View Steam Workshop"><img src="#" width="26" height="16" alt="Workshop"></a>
            <a href="#" class="tooltipped tooltipped-n" aria-label="View article on PCGamingWiki"><img src="#" width="16" height="16"> PCGW</a>
            </nav>
          </div>
          <div class="col-md-5">
            <p></p>
            <img alt="Steam icon logo" class = "float-right" src="https://steamcdn-a.akamaihd.net/steam/apps/570/header.jpg?t=1554408611" width="100%">
            
            <div class="row">

              <div class="col-md-6">
                <div class="card text-white bg-primary">
                  <div class="card-body" ng-init="count=0" ng-click="count = count + 1">
                    <div class="h1 text-muted text-right mb-4">
                      <i class="icon-like"></i>
                    </div>
                    <div class="h4 mb-0">{{count}} Times</div>
                    <small class="text-muted text-uppercase font-weight-bold">Adding to Wishlist</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-white bg-danger">
                  <div class="card-body" ng-init="countNeg=0" ng-click="countNeg = countNeg + 1">
                    <div class="h1 text-muted text-right mb-4">
                      <i class="icon-dislike"></i>
                    </div>
                    <div class="h4 mb-0">{{countNeg}} Times</div>
                    <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

	     </div>
  </div>
</div>